<div id="content">
  <ul>
    <li><a href="http://landregistry.local:8000/properties/PL9%208TB/southernway_43">Property Address with PPI - 43 Southernway</a></li>

    <li><a href="http://landregistry.local:8000/properties/PL9%208TB/southernway_41">NO Property with PPI - 41 Southernway</a></li>

    <li><a href="http://landregistry.local:8000/properties/PL9%208TB/southernway_45">Property with nothing - 45 Southernway</a></li>
  </ul>
</div>
<!-- TODO: remove this placeholder page, written for show and tell purposes only -->
