// Place all the styles related to the Properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_typography";
@import "_colours";
@import "design-patterns/_buttons";
@import "design-patterns/_alpha-beta";
@import "service-design-manual/helpers/_breadcrumbs.scss";
@import "_grid_layout";
@import "_conditionals";


/*
/////////////////////////
TODO: all styles need sassing up
////////////////////////
*/


#content {
  @extend %site-width-container;  
  .top-section {
    border-bottom: 1px solid $grey-2; 
  }

  /* phase tag */
  .phase-banner {
    @include phase-banner;
    .phase-tag {
      @include phase-tag;
    }
  }

  .grid-row {
    @extend %contain-floats;
    margin: 0 0 15px 0;
  }

  .column-half {
    @include grid-column( 1/2 );
    padding: 0;
  }


  .property-details-title-prefix {
    color: $grey-1;
    @include core-27;
    margin-bottom: 1.25em;
    margin-top: 0.625em;
  }

  .address {
    @include bold-36;
  }

  .definition-tabular dt, .definition-tabular--b dt {
      width: 33.3333%;
      clear: left;
      float: left;
      margin-bottom: 10px;
      width: 25%;
      @include core-19;
  }
  .definition-tabular dd, .definition-tabular--b dd {
      float: left;
      @include core-19;
      margin-bottom: 10px;
      font-weight: bold;
  }

  .map-placeholder img{
    max-width: calc(100% - 8px);
    display: block;
    border: 4px solid #dee0e2;
  }

  .bottom-section p {
    @include bold-16;
  }

}


@media screen and (max-width: 640px) {
    .column-half {
      clear: both;
    }
}
